@import "src/styles.scss";
$headerCol:rgb(245, 245, 245);
.page-container {
  height: 100%;
  width: 100%;
}

.table-container {
  width: 800px;
}
table{
    width:800px;
}

mat-toolbar {
  background: white !important;
  height: 80px !important;
}

.title-text {
  width: 100%;
  margin-top: 40px !important;
  margin-bottom: 40px;
  line-height: 32px;
  margin-top: 15px;
}

.header-text {
  font-size: 33px;
  font-weight: 700;
}

.header-sub-text {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}


.container {
  overflow: auto;
  height: 800px !important;
  margin: 8px;
}

.mat-column-thumbnailUrl {
  padding-right: 10px;
}

.mat-column-title {
  padding-right: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
  margin: 40px 8px 8px 8px;
}

td,
th {
  font-size: 12px !important;
}

.mat-header-row {
  background: $headerCol;
}

mat-paginator {
  position: sticky !important;
  bottom: 0;
  background: $headerCol !important;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: normal !important;

}

::ng-deep .mat-list .mat-list-item {
  height: initial !important;
}